{% extends "app/layout.html" %}
{% load static %}

{% block title %}Полезные ресурсы{% endblock %}

{% block content %}
<h2>Полезные ресурсы</h2>
<p>На этой странице вы найдете ссылки на полезные веб-сайты.</p>

<ul>
    <li>
        <a href="https://example.com" target="_blank">
            <img src="{% static 'app/content/example_logo.png' %}" alt="logo" width="100" height="40" />
        </a>
        <p>Ресурс 1: Описание сайта Example.</p>
    </li>
    <li>
        <a href="https://example2.com" target="_blank">
            <img src="{% static 'app/content/example_logo.png' %}" alt="logo" width="100" height="40" />
        </a>
        <p>Ресурс 2: Описание сайта Example 2.</p>
    </li>
    <li>
        <a href="https://example3.com" target="_blank">
            <img src="{% static 'app/content/example_logo.png' %}" alt="logo" width="100" height="40" />
        </a>
        <p>Ресурс 3: Описание сайта Example 3.</p>
    </li>
</ul>
{% endblock %}
